@font-face {
    font-family: 'OpenDyslexic';
    src: url("OpenDyslexic/OpenDyslexicAlta-Regular.otf") format("truetype");
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: italic;
    src: url("OpenDyslexic/OpenDyslexicAlta-Italic.otf") format("truetype");
}

@font-face {
    font-family: 'OpenDyslexic';
    font-weight: 600;
    src: url("OpenDyslexic/OpenDyslexicAlta-Bold.otf") format("truetype");
}

@font-face {
    font-family: 'OpenDyslexic';
    font-weight: 600;
    font-style: italic;
    src: url("OpenDyslexic/OpenDyslexic-BoldItalic.otf") format("truetype");
}

.page-wrapper.dyslexia {
    /* Dyslexic font */
    font-family: "OpenDyslexic", var(--font-family);
}

.page-wrapper.high-contrast {
    --text-color: black;
    --body-color: #fdfdfd;
    --border-width: 2px;

    .navbar-bottom {
        border-bottom: var(--border-width) solid var(--border-color);
    }

    .badge:not(.filled),
    .btn:not(.filled) {
        color: black !important;
    }

    .btn:not(.accessibility) {
        border-width: 1px !important;
    }

}

.page-wrapper.larger-font {
    --base-font-size: 2rem;
}



.btn.accessibility {
    border-radius: 3.2rem;
    width: 3.2rem;
    padding-left: 0;
    padding-right: 0;
    color: var(--secondary-color);
    background-color: white;
    border: 2px solid var(--secondary-color);
    margin-right: 1rem;
    line-height: 3rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='m24.99,29.66c-.54,1.43-1.04,2.75-1.53,4.06-.79,2.11-1.58,4.22-2.38,6.32-.35.92-1.25,1.41-2.24,1.26-.89-.13-1.55-.85-1.65-1.78-.04-.34.05-.67.16-.99.89-2.54,1.8-5.07,2.45-7.68.77-3.12,1.16-6.28,1.16-9.5,0-.63-.18-.86-.79-1-2.66-.6-5.33-1.2-7.99-1.8-.94-.21-1.54-.81-1.62-1.61-.11-1.2.92-2.1,2.2-1.91.96.14,1.92.31,2.88.45,2.4.35,4.78.81,7.2.97,3.34.23,6.64-.16,9.92-.72,1.5-.25,3-.48,4.51-.71,1.07-.16,1.99.45,2.17,1.41.18.96-.45,1.84-1.53,2.08-2.66.6-5.33,1.2-7.99,1.8-.7.16-.86.36-.87,1.07-.03,5.07,1.05,9.92,2.75,14.67.29.82.58,1.65.86,2.47.42,1.2-.03,2.27-1.12,2.66-1.12.4-2.22-.14-2.67-1.32-1.22-3.24-2.44-6.48-3.67-9.72-.05-.13-.1-.26-.2-.51Zm-3.5-17.48c.01,1.93,1.58,3.49,3.5,3.5,1.94,0,3.52-1.58,3.51-3.53,0-1.94-1.56-3.48-3.5-3.48-1.95,0-3.53,1.58-3.51,3.52Z' style='fill:%23006eb7; stroke-width:0px;'/%3E%3C/svg%3E");
}