/*
-------------------------------------------------------------------------------
Badges
-------------------------------------------------------------------------------
*/

.badge {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  background: #53535320;
  border-radius: var(--border-radius);

  a {
    color: inherit;
  }

  i {
    margin-right: 0.5rem;
  }

  @each $name in $colors {
    &.#{$name} {
      color: var(--#{$name}-color-dark);
      background-color: var(--#{$name}-color-20);

      &.filled {
        color: white;
        background-color: var(--#{$name}-color);
      }
    }
  }

  &.dark {
    background-color: var(--base-text-color-light);
    color: white;
  }

  &.light {
    background-color: white;
  }

  &.pill {
    border-radius: 3rem;
    padding: 0.2rem 1rem;
  }

  &.large {
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1.5rem;
  }
}

/* Badge group */

.badge-group {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.badge-group>.badge:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badge-group>.badge:not(:last-child) {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a.badge,
a.badge-group {
  color: inherit;
}

a.badge:hover,
a.badge-group:hover {
  text-decoration: none;
  background-color: $gray-color;
}

@each $name in $colors {

  a.badge.#{$name}:hover,
  a.badge-group:hover>.badge.#{$name} {
    color: var(--#{$name}-color-dark);
    background-color: var(--#{$name}-color-30);
  }
}