/*
-------------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------------
*/

$button-height: 3.2rem;
$button-padding: 0 1.5rem;
$button-outline-offset: 0.2rem;

/* Small button */

$small-button-height: 2.6rem;
$small-button-padding: 0 1rem;
$small-button-font-size: 1.2rem;

/* Large button */

$large-button-height: 4rem;
$large-button-padding: 0 2rem;
$large-button-font-size: 1.8rem;

/* Default button */
.btn {
  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  padding: $button-padding;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: var(--button-text-color);
  font-weight: var(--button-font-weight);
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: var(--border-radius);
  -moz-box-shadow: var(--button-box-shadow);
  -webkit-box-shadow: var(--button-box-shadow);
  box-shadow: var(--button-box-shadow);

  // states
  &:hover {
    text-decoration: none;
    background-color: #f5f5f5;
  }

  &:not(.disabled):not(:disabled):focus,
  &:not(.disabled):not(:disabled).active {
    -moz-box-shadow: var(--button-box-shadow-focus);
    -webkit-box-shadow: var(--button-box-shadow-focus);
    box-shadow: var(--button-box-shadow-focus);
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  // btn-link
  &.link {
    color: var(--primary-color);
    background-color: transparent;
    border-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:not(.disabled):not(:disabled) {
      &:hover {
        color: var(--primary-color-light);
        background-color: transparent;
        border-color: transparent;
      }

      &:focus,
      &.active {
        -moz-box-shadow: var(--button-box-shadow-focus);
        -webkit-box-shadow: var(--button-box-shadow-focus);
        box-shadow: var(--button-box-shadow-focus);
      }
    }
  }

  &.loading {
    position: relative;
    cursor: default;
    // text-shadow: none !important;
    // color: transparent !important;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: all 0s linear, opacity 0.1s ease;
    transition: all 0s linear, opacity 0.1s ease;
    cursor: wait;
    padding-left: 2em;
    opacity: 0.7;

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 1em;
      margin: -0.64285714em 0em 0em -0.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      border-radius: 500rem;
      border: 0.2em solid rgba(0, 0, 0, 0.1);
    }

    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 1em;
      margin: -0.64285714em 0em 0em -0.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      -webkit-animation: button-spin 0.8s linear;
      animation: button-spin 0.8s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      // border-top-color: white;
      border-style: solid;
      border-width: 0.2em;
      -webkit-box-shadow: 0px 0px 0px 1px transparent;
      box-shadow: 0px 0px 0px 1px transparent;
      border-top-color: transparent;
    }
  }

  // btn-colors
  @each $name in $colors {
    &.#{$name} {
      $active-shadow: 0 0 0.1rem 0.3rem var(--#{$name}-color-30);

      color: var(--#{$name}-color-dark);
      border-color: var(--#{$name}-color);
      background-color: var(--#{$name}-color-20);

      &:not(.disabled):not(:disabled) {
        &:hover {
          background-color: var(--#{$name}-color-30);
        }
      }

      &.filled {
        color: white;
        background-color: var(--#{$name}-color);
        // border: none;

        &:not(.disabled):not(:disabled) {
          &:hover {
            background-color: var(--#{$name}-color-dark);
          }
        }
      }
    }


    &.outline {
      background-color: white;

      &:not(.disabled):not(:disabled) {
        &:hover {
          background-color: var(--primary-color-20);
        }
      }
    }
  }

  // sizing
  &.small {
    height: $small-button-height;
    line-height: $small-button-height;
    padding: $small-button-padding;
    font-size: $small-button-font-size;
  }

  &.large {
    height: 3.8rem;
    line-height: 3.8rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.square,
  &.circle {
    width: $button-height;
    padding-left: 0;
    padding-right: 0;

    &.small {
      width: $small-button-height;
      padding-left: 0;
      padding-right: 0;
    }

    &.large {
      width: $large-button-height;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.rounded,
  &.circle {
    border-radius: $button-height;

    &.small {
      border-radius: $small-button-height;
    }

    &.large {
      border-radius: $large-button-height;
    }
  }

  &.cta {
    font-size: 1.6rem;
    font-weight: bold;
    padding: .25rem 2rem;
    height: auto;
    color: var(--secondary-color-dark);
    background: var(--secondary-color-20);
    border-color: var(--secondary-color);

    &:hover {
      color: white;
      // background-color: var(--secondary-color);
      background: linear-gradient(135deg, var(--secondary-color-light), var(--secondary-color-dark));
      text-decoration: none;
      // border: none;
    }
  }

}

@-webkit-keyframes button-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes button-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Button groups

.btn-group,
.btn-group-vertical {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;

  &>.btn,
  &>.btn {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    &:focus,
    &:active,
    &.active {
      z-index: 1;
    }
  }

  &>.btn,
  &>.btn-group {
    &:not(:first-child) {
      margin-left: calc((-1) * var(--border-width));
    }
  }

  &>.btn:not(:last-child):not([data-toggle="dropdown"]),
  &>.btn-group:not(:last-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.btn-group>.btn:not(:first-child),
.btn-group>.btn-group:not(:first-child)>.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;

  &>.btn,
  &>.btn-group {
    width: 100%;

    &:not(:first-child) {
      margin-top: calc((-1) * var(--border-width));
    }
  }

  &>.btn:not(:last-child):not([data-toggle="dropdown"]),
  &>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &>.btn:not(:first-child),
  &>.btn-group:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* Remove box shadow for button group vertical (except last button) */

  &>.btn:not(:last-child):not([data-toggle="dropdown"]):not(:focus):not(.active),
  &>.btn-group:not(:last-child)>.btn:not(:focus):not(.active) {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* Button group sizing */

.btn-group-sm {
  &>.btn {
    height: $small-button-height;
    line-height: $small-button-height;
    padding: $small-button-padding;
    font-size: $small-button-font-size;
  }

  &>.btn-square {
    width: $small-button-height;
    padding-left: 0;
    padding-right: 0;
  }

  &>.btn-rounded {
    border-radius: $small-button-height;
  }
}

.btn-group-lg {
  &>.btn {
    height: $large-button-height;
    line-height: $large-button-height;
    padding: $large-button-padding;
    font-size: $large-button-font-size;
  }

  &>.btn-square {
    width: $large-button-height;
    padding-left: 0;
    padding-right: 0;
  }

  &>.btn-rounded {
    border-radius: $large-button-height;
  }
}

/* Button toolbar */

.btn-toolbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;

  .input-group {
    width: auto;
    /* Button toolbar minimum width for input groups (Required for IE) */
    min-width: 20rem;
  }

  .btn,
  span {
    margin-right: 1rem;
  }

  .btn:last-child,
  span:last-child {
    margin-right: 0;
  }

  .btn-group {
    margin-right: 1rem;

    .btn {
      margin-right: 0;
      margin-left: -1px;
    }
  }

  &>.badge {
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1.5rem;
    border-radius: var(--border-radius);
    margin: 0.2rem;
  }
}

// @include respond-below(sm) {
// 	.btn-toolbar .input-group {
// 		min-width: 20rem;
// 	}
// }