/*
-------------------------------------------------------------------------------
12. Dropdown [hm-12]
-------------------------------------------------------------------------------
*/

.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown menu */

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    z-index: 10;
    text-align: left;
    width: auto;
    min-width: 16.8rem;
    padding: 0.4rem;
    color: var(--text-color);
    background-color: var(--box-bg-color);
    background-image: none;
    border:var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;


    .content {
        display: block;
        padding: $dropdown-content-padding;
        margin: 0;

        &>ul,
        &>ol {
            margin-left: 0;
        }
    }

    .divider {
        height: 1px;
        background-color: $divider-color;
        width: 100%;
    }

    /* Dropdown item */

    .item {
        display: block;
        white-space: nowrap;
        padding: $dropdown-item-padding;
        border-radius: 0.2rem;
        color: $muted-color;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            text-decoration: none;
            color: #464646;
            background-color: #f3f3f3;
        }

        &.active {
            box-shadow: $button-box-shadow-focus ;
            border: var(--border-width) solid var(--border-color);
        }
    }

    /* Dropdown header */

    .header {
        font-size: var(--base-font-size);
        font-weight: $content-title-font-weight;
        padding: $dropdown-item-padding;
        margin: 0;
        color: $muted-text-color;
    }

}

/* Arrows (::before for border, ::after for background) */

.dropdown.with-arrow.show .dropdown-menu::before,
.dropdown.with-arrow.show .dropdown-menu::after,
.dropdown.with-arrow.toggle-on-hover:hover .dropdown-menu::before,
.dropdown.with-arrow.toggle-on-hover:hover .dropdown-menu::after {
    content: " ";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    z-index: 10;
}

/* Dropdown content */

/* Dropdown divider */


/* Normal dropdown */

.dropdown:not(.dropup):not(.dropright):not(.dropleft) .dropdown-menu {
    bottom: 50%;
    transform: translateY(50%);
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft) .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right) {
    left: 0;
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft) .dropdown-menu.dropdown-menu-center {
    left: 50%;
    transform: translate(-50%, 50%);
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft) .dropdown-menu.dropdown-menu-right {
    right: 0;
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft).show .dropdown-menu,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).toggle-on-hover:hover .dropdown-menu {
    bottom: 0;
    transform: translateY(100%);
    visibility: visible;
    -webkit-transition: bottom 0.1s, transform 0.1s, visibility 0.1s;
    transition: bottom 0.1s, transform 0.1s, visibility 0.1s;
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft).show .dropdown-menu.dropdown-menu-center,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).toggle-on-hover:hover .dropdown-menu.dropdown-menu-center {
    transform: translate(-50%, 100%);
}

/* Normal dropdown arrows (::before for border, ::after for background) */

.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu {
    bottom: $dropdown-arrow-size-negative;
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu::before,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu::after,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu::before,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu::after {
    border-left: $dropdown-arrow-size solid transparent;
    border-right: $dropdown-arrow-size solid transparent;
    border-bottom: $dropdown-arrow-size solid var(--border-color);
    top: $dropdown-arrow-size-negative;
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu::after,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu::after {
    border-bottom-color: white;
    top: $dropdown-arrow-inner-spacing;
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right)::before,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right)::after,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right)::before,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right)::after {
    left: $dropdown-arrow-horizontal-spacing;
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center::before,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center::after,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu.dropdown-menu-center::before,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu.dropdown-menu-center::after {
    left: calc(50% - #{$dropdown-arrow-size});
}

.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-right::before,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-right::after,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu.dropdown-menu-right::before,
.dropdown:not(.dropup):not(.dropright):not(.dropleft).with-arrow.show .dropdown-menu.dropdown-menu-right::after {
    right: $dropdown-arrow-horizontal-spacing;
}

/* Dropup */

.dropdown.dropup .dropdown-menu {
    top: 50%;
    transform: translateY(-50%);
}

.dropdown.dropup .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right) {
    left: 0;
}

.dropdown.dropup .dropdown-menu.dropdown-menu-center {
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown.dropup .dropdown-menu.dropdown-menu-right {
    right: 0;
}

.dropdown.dropup.show .dropdown-menu,
.dropdown.dropup.toggle-on-hover:hover .dropdown-menu {
    top: 0;
    transform: translateY(-100%);
    visibility: visible;
    -webkit-transition: top 0.1s, transform 0.1s, visibility 0.1s;
    transition: top 0.1s, transform 0.1s, visibility 0.1s;
}

.dropdown.dropup.show .dropdown-menu.dropdown-menu-center,
.dropdown.dropup.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center {
    transform: translate(-50%, -100%);
}

/* Dropup arrows (::before for border, ::after for background) */

.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu,
.dropdown.dropup.with-arrow.show .dropdown-menu {
    top: $dropdown-arrow-size-negative;
}

.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu::before,
.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu::after,
.dropdown.dropup.with-arrow.show .dropdown-menu::before,
.dropdown.dropup.with-arrow.show .dropdown-menu::after {
    border-left: $dropdown-arrow-size solid transparent;
    border-right: $dropdown-arrow-size solid transparent;
    border-top: $dropdown-arrow-size solid var(--border-color);
    bottom: $dropdown-arrow-size-negative;
}

.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu::after,
.dropdown.dropup.with-arrow.show .dropdown-menu::after {
    border-top-color: white;
    bottom: $dropdown-arrow-inner-spacing;
}

.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right)::before,
.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right)::after,
.dropdown.dropup.with-arrow.show .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right)::before,
.dropdown.dropup.with-arrow.show .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-right)::after {
    left: $dropdown-arrow-horizontal-spacing;
}

.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center::before,
.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center::after,
.dropdown.dropup.with-arrow.show .dropdown-menu.dropdown-menu-center::before,
.dropdown.dropup.with-arrow.show .dropdown-menu.dropdown-menu-center::after {
    left: calc(50% - #{$dropdown-arrow-size});
}

.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-right::before,
.dropdown.dropup.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-right::after,
.dropdown.dropup.with-arrow.show .dropdown-menu.dropdown-menu-right::before,
.dropdown.dropup.with-arrow.show .dropdown-menu.dropdown-menu-right::after {
    right: $dropdown-arrow-horizontal-spacing;
}

/* Dropright */

.dropdown.dropright .dropdown-menu {
    right: 50%;
    transform: translateX(50%);
}

.dropdown.dropright .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up) {
    top: 0;
}

.dropdown.dropright .dropdown-menu.dropdown-menu-center {
    top: 50%;
    transform: translate(50%, -50%);
}

.dropdown.dropright .dropdown-menu.dropdown-menu-up {
    bottom: 0;
}

.dropdown.dropright.show .dropdown-menu,
.dropdown.dropright.toggle-on-hover:hover .dropdown-menu {
    right: 0;
    transform: translateX(100%);
    visibility: visible;
    -webkit-transition: right 0.1s, transform 0.1s, visibility 0.1s;
    transition: right 0.1s, transform 0.1s, visibility 0.1s;
}

.dropdown.dropright.show .dropdown-menu.dropdown-menu-center,
.dropdown.dropright.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center {
    transform: translate(100%, -50%);
}

/* Dropright arrows (::before for border, ::after for background) */

.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu,
.dropdown.dropright.with-arrow.show .dropdown-menu {
    right: $dropdown-arrow-size-negative;
}

.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu::before,
.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu::after,
.dropdown.dropright.with-arrow.show .dropdown-menu::before,
.dropdown.dropright.with-arrow.show .dropdown-menu::after {
    border-top: $dropdown-arrow-size solid transparent;
    border-bottom: $dropdown-arrow-size solid transparent;
    border-right: $dropdown-arrow-size solid var(--border-color);
    left: $dropdown-arrow-size-negative;
}

.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu::after,
.dropdown.dropright.with-arrow.show .dropdown-menu::after {
    border-right-color: white;
    left: $dropdown-arrow-inner-spacing;
}

.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up)::before,
.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up)::after,
.dropdown.dropright.with-arrow.show .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up)::before,
.dropdown.dropright.with-arrow.show .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up)::after {
    top: $dropdown-arrow-horizontal-spacing;
}

.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center::before,
.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center::after,
.dropdown.dropright.with-arrow.show .dropdown-menu.dropdown-menu-center::before,
.dropdown.dropright.with-arrow.show .dropdown-menu.dropdown-menu-center::after {
    top: calc(50% - #{$dropdown-arrow-size});
}

.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-up::before,
.dropdown.dropright.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-up::after,
.dropdown.dropright.with-arrow.show .dropdown-menu.dropdown-menu-up::before,
.dropdown.dropright.with-arrow.show .dropdown-menu.dropdown-menu-up::after {
    bottom: $dropdown-arrow-horizontal-spacing;
}

/* Dropleft */

.dropdown.dropleft .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
}

.dropdown.dropleft .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up) {
    top: 0;
}

.dropdown.dropleft .dropdown-menu.dropdown-menu-center {
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropdown.dropleft .dropdown-menu.dropdown-menu-up {
    bottom: 0;
}

.dropdown.dropleft.show .dropdown-menu,
.dropdown.dropleft.toggle-on-hover:hover .dropdown-menu {
    left: 0;
    transform: translateX(-100%);
    visibility: visible;
    -webkit-transition: left 0.1s, transform 0.1s, visibility 0.1s;
    transition: left 0.1s, transform 0.1s, visibility 0.1s;
}

.dropdown.dropleft.show .dropdown-menu.dropdown-menu-center,
.dropdown.dropleft.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center {
    transform: translate(-100%, -50%);
}

/* Dropleft arrows (::before for border, ::after for background) */

.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu,
.dropdown.dropleft.with-arrow.show .dropdown-menu {
    left: $dropdown-arrow-size-negative;
}

.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu::before,
.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu::after,
.dropdown.dropleft.with-arrow.show .dropdown-menu::before,
.dropdown.dropleft.with-arrow.show .dropdown-menu::after {
    border-top: $dropdown-arrow-size solid transparent;
    border-bottom: $dropdown-arrow-size solid transparent;
    border-left: $dropdown-arrow-size solid var(--border-color);
    right: $dropdown-arrow-size-negative;
}

.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu::after,
.dropdown.dropleft.with-arrow.show .dropdown-menu::after {
    border-left-color: white;
    right: $dropdown-arrow-inner-spacing;
}

.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up)::before,
.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up)::after,
.dropdown.dropleft.with-arrow.show .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up)::before,
.dropdown.dropleft.with-arrow.show .dropdown-menu:not(.dropdown-menu-center):not(.dropdown-menu-up)::after {
    top: $dropdown-arrow-horizontal-spacing;
}

.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center::before,
.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-center::after,
.dropdown.dropleft.with-arrow.show .dropdown-menu.dropdown-menu-center::before,
.dropdown.dropleft.with-arrow.show .dropdown-menu.dropdown-menu-center::after {
    top: calc(50% - #{$dropdown-arrow-size});
}

.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-up::before,
.dropdown.dropleft.with-arrow.toggle-on-hover:hover .dropdown-menu.dropdown-menu-up::after,
.dropdown.dropleft.with-arrow.show .dropdown-menu.dropdown-menu-up::before,
.dropdown.dropleft.with-arrow.show .dropdown-menu.dropdown-menu-up::after {
    bottom: $dropdown-arrow-horizontal-spacing;
}


@include respond-below(sm) {
    .dropdown.modal-sm {
        position: static;

        .dropdown-menu.show {
            width: calc(100% - 2rem);
        }
    }
}

