
@font-face {
    font-family: 'Rubik';
    src: url('Rubik/static/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    src: url('Rubik/static/Rubik-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    src: url('Rubik/static/Rubik-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    font-style: italic;
    src: url('Rubik/static/Rubik-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    src: url('Rubik/static/Rubik-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    font-style: italic;
    src: url('Rubik/static/Rubik-SemiBoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: url('Rubik/static/Rubik-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    font-style: italic;
    src: url('Rubik/static/Rubik-LightItalic.ttf') format('truetype');
}

// // title font
// @font-face {
//     font-family: 'Libre Baskerville';
//     src: url("LibreBaskerville/LibreBaskerville-SemiBold.ttf") format("truetype");
//     font-weight: 600;
// }
// @font-face {
//     font-family: 'Libre Baskerville';
//     src: url("LibreBaskerville/LibreBaskerville-SemiBoldItalic.ttf") format("truetype");
//     font-weight: 600;
//     font-style: italic;
// }