
i.ph {
    line-height: 1;
  }

.ph.ph-edit:before {
    content: '\E34C';
}

.ph.ph-search:before {
    content: '\E30C';
}

.ph, .ph-fill, .ph-duotone {
    line-height: inherit;
}


i.ph.ph-lg {
    font-size: 1.25em;
    line-height: 0.05em;
    vertical-align: -0.075em;
  }
  
  i.ph.ph-2x {
    font-size: 2em;
  }
  
  i.ph.ph-3x {
    font-size: 3em;
  }
  
  i.ph.ph-4x {
    font-size: 4em;
  }
  
  i.ph.ph-fw {
    text-align: center;
    width: 1.25em;
    display: inline-block;
  }
  