/*
-------------------------------------------------------------------------------
4.  Layout [hm-04]

Notes:
    ~ The following section contains the position, width, height, and bg color 
    related styles of the page-wrapper, sticky-alerts, navbars, sidebar, and 
    content-wrapper. These are grouped together because reading them all at 
    once in serial makes it quite easy to understand how pages are structured.
    ~ The styles of the children of the above elements can be found in their 
    own sections of this stylesheet. These sections are:
        ~ 14. Alerts
        ~ 15. Navbar content
        ~ 16. Sidebar content
        
-------------------------------------------------------------------------------
*/

html,
body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 8rem;
}

/* Page wrapper */

.page-wrapper {
    position: absolute;
    // height: 100%;
    width: 100%;
    // overflow: hidden;
}

/* Sticky alerts */

.sticky-alerts {
    position: fixed;
    top: 0;
    right: 2.4rem;
    z-index: 100;
    /* Can be used on top of modals */
}

/* Navbar */

.navbar,
.navbar-top,
.navbar-bottom {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: var(--navbar-height);
    padding-left: $navbar-horizontal-padding;
    padding-right: $navbar-horizontal-padding;
    background-color: #ffffff;
    background-image: none;
}

// .navbar-bottom {
//     // border-bottom:var(--border-width) solid $navbar-border-color;
//     // -moz-box-shadow: var(--box-shadow);
//     // -webkit-box-shadow: var(--box-shadow);
//     // box-shadow: var(--box-shadow);

// }

.page-wrapper>.navbar {
    // position: fixed;
    left: 0;
    z-index: 40;
    display: none;
}

.page-wrapper>.navbar {
    top: 0;
    display: -ms-flexbox;
    display: flex;
}


.page-wrapper>.navbar.navbar-fixed-bottom {
    bottom: 0;
}


.navbar .container {
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    // max-width: 104rem;
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 42;
    background-color: $sidebar-bg-color;
    background-image: none;
    // border-right:var(--border-width) solid var(--border-color);
    -moz-box-shadow: $sidebar-box-shadow;
    -webkit-box-shadow: $sidebar-box-shadow;
    box-shadow: $sidebar-box-shadow;
}

.sidebar-menu {
    position: relative;
    top: $navbar-height;
    left: 0;

    // height: calc(100% - #{$navbar-large-height});
    // overflow-y: auto;
    .sidebar-brand {
        margin-top: 3rem !important;
        // height: calc(#{$navbar-height} - 1rem);

        img {
            width: 100%;
            margin: 0;
            // max-height: calc(#{$navbar-height} - 1rem);
        }
    }
}


.page-wrapper>.sidebar {
    display: none;
}

.page-wrapper>.sidebar {
    display: block;
}

/* Content wrapper */

.content-wrapper {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    // overflow: auto;
    scroll-behavior: smooth;
    background-color: white;
    background-color: var(--body-color);
    position: relative;
    // max-width: var(--max-page-width);
    // margin: 0 auto;

    &>.content-container {
        width: 100%;
        min-height: calc(100vh - var(--navbar-height) - var(--navbar-bottom-height) - var(--navbar-height));
        padding: 2rem;
        margin: 0 auto;
    }
}


/* Page wrapper helper classes */

/* With navbar */

.page-wrapper>.sticky-alerts {
    top: calc(var(--navbar-height) + var(--navbar-bottom-height));
}

.page-wrapper-large>.sticky-alerts {
    top: var(--navbar-large-height);
}

// .page-wrapper>.content-wrapper,
.page-wrapper>.sidebar {
    top: 0;
    height: 100%;
}

/* With sidebar */

.page-wrapper>.content-wrapper {
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
}

@include respond-below(md) {
    .page-wrapper>.content-wrapper {
        width: 100%;
        margin: 0 auto;
    }
}

/* Hidden sidebar */

.page-wrapper[data-sidebar-hidden]>.sidebar {
    // left: -100%;
    left: -$sidebar-width - 1rem;
}


// Improved layout: on larger screens white space around
.page-wrapper[data-sidebar-hidden]>.content-wrapper {
    left: 0;
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-page-width);
}


@include respond-below(md) {

    .page-wrapper>.navbar {
        width: 100%;
    }

    // .page-wrapper>.navbar .container {
    //     max-width: 100%;
    // }
}

.page-wrapper[data-sidebar-hidden]>.navbar {
    left: 0;
    width: 100%;
    max-width: var(--max-page-width);
}

@include respond-below(md) {

    .page-wrapper>.navbar,
    .page-wrapper>.content-wrapper {
        left: 0;
        width: 100%;
    }

    .page-wrapper>.sidebar {
        height: 100%;
        top: 0;
        z-index: 50;
    }

    .page-wrapper>.sidebar-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 45;
        background-color: $sidebar-overlay-bg-color;
    }

    .page-wrapper[data-sidebar-hidden]>.sidebar-overlay {
        display: none;
    }
}

/* With transitions (for sidebar toggles) */
// data-sidebar-first means that the sidebar was removed on pageload

.page-wrapper:not(.without-transitions):not([data-sidebar-first])>.sidebar {
    -webkit-transition: left .4s cubic-bezier(.25, .8, .25, 1);
    transition: left .4s cubic-bezier(.25, .8, .25, 1);
}

// .page-wrapper:not(.without-transitions):not([data-sidebar-first])>.navbar {
//     // -webkit-transition: padding-left .4s cubic-bezier(.25, .8, .25, 1);
//     // transition: padding-left .4s cubic-bezier(.25, .8, .25, 1);
// }

.page-wrapper:not(.without-transitions):not([data-sidebar-first])>.navbar .btn-action {
    transition: transform 0.7s;
}

.page-wrapper:not(.without-transitions):not([data-sidebar-first])>.navbar .container {
    -webkit-transition: max-width .4s cubic-bezier(.25, .8, .25, 1);
    transition: max-width .4s cubic-bezier(.25, .8, .25, 1);
}

.page-wrapper:not(.without-transitions):not([data-sidebar-first])>.content-wrapper {
    -webkit-transition: width .4s cubic-bezier(.25, .8, .25, 1), left .4s cubic-bezier(.25, .8, .25, 1);
    transition: width .4s cubic-bezier(.25, .8, .25, 1), left .4s cubic-bezier(.25, .8, .25, 1);
}

/* Janky scroll fix (for Safari) */

.content-wrapper,
.sidebar {
    -webkit-overflow-scrolling: touch;
}

.content-container>.container,
.content-container>.container-sm,
.content-container>.container-md,
.content-container>.container-lg,
.content-container>.container-xl,
.content-wrapper>.container,
.content-wrapper>.container-sm,
.content-wrapper>.container-md,
.content-wrapper>.container-lg,
.content-wrapper>.container-xl {
    padding: 0;
}




@include respond-below(md) {
    .navbar .container {
        max-width: 100% !important;
    }

    // .page-wrapper[data-sidebar-hidden]>.content-wrapper>.content-container {
    //     max-width: 72rem;
    // }
}

@include respond-above(md) {
    .page-wrapper:not([data-sidebar-hidden])>.navbar {
        padding-left: $sidebar-width;
    }

    .page-wrapper:not([data-sidebar-hidden])>.navbar .container {
        max-width: 100%;
    }

    // .page-wrapper[data-sidebar-hidden]>.content-wrapper>.content-container {
    //     max-width: 96rem;
    // }
}

@include respond-above(lg) {
    .page-wrapper:not([data-sidebar-hidden])>.navbar .container {
        max-width: 100%;
    }

    // .page-wrapper[data-sidebar-hidden]>.content-wrapper>.content-container {
    //     max-width: 118rem;
    // }
}

@include respond-above(xl) {
    .page-wrapper:not([data-sidebar-hidden])>.navbar .container {
        max-width: 100%;
    }
}
