/*
-------------------------------------------------------------------------------
13. Modal [hm-13]
-------------------------------------------------------------------------------
*/

$modal-close-width-height: 4rem;

.modal {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    z-index: 99;
    outline: none;
}

.modal-dialog {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    /* This hack corrects the scrollable modal content on IE. */
    .modal.ie-scroll-fix .modal-dialog {
        display: block;
    }
}

.modal-content {
    margin: auto;
    width: 80rem;
    max-width: 100%;
    padding: $content-and-tile-spacing;
    color: var(--text-color);
    background-color: var(--body-color);
    border:var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);

    .title {
        font-size: $content-title-font-size;
        font-weight: $content-title-font-weight;
        margin-top: 0;
    }
}

@include respond-below(sm) {
    .modal-content {
        padding: $content-and-tile-spacing-xs;
    }
}


.modal-content-media {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-content-media img,
.modal-content-media video {
    display: block;
}

.modal-full .modal-content {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: $content-and-tile-spacing;
    color: var(--text-color);
    background-color: var(--body-color);
}

@include respond-below(sm) {
    .modal-full .modal-content {
        padding: $content-and-tile-spacing-xs;
    }
}

.modal-content .close {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    cursor: pointer;
    top: -100%;
    left: 1rem;
    z-index: 10;
    padding: 0;
    -webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    font-size: 2rem;
    width: $modal-close-width-height;
    height: $modal-close-width-height;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    border-color: transparent;
}

.modal-content .close:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content .close:focus {
    -webkit-transition: none;
    transition: none;
    outline: 2px solid $primary-color-30;
    outline-offset: $button-outline-offset;
}

/* Showing modals */

.modal:target,
.modal.show {
    top: 0;
}

.modal:target~.page-wrapper .sidebar,
.modal:target~.page-wrapper .content-wrapper,
.modal.show~.page-wrapper .sidebar,
.modal.show~.page-wrapper .content-wrapper {
    overflow: hidden;
}

.modal:target .modal-dialog,
.modal.show .modal-dialog {
    top: 0;
}

.modal:target .modal-content .close,
.modal.show .modal-content .close {
    top: 1rem;
}