
/* QUERY BUILDER */

.query-builder .btn-xs,
.query-builder .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  height: auto;
}

.query-builder .btn-group label {
  margin: 0;
}

.query-builder .rule-value-container {
  min-width: 15rem;
}

.query-builder .rule-operator-container {
  max-width: 12rem;
}

.query-builder .rule-container, .query-builder .rule-placeholder, .query-builder .rules-group-container {
  border: none !important;
  background-color: var(--primary-color-20) !important;
}
