.section {
    padding: 2rem 1rem;
    background-color: var(--body-color);

    &.section-image,
    &.hero {
        background-size: cover;
        background-repeat: no-repeat;
    }

    &.hero {
        position: relative;
        margin-bottom: 5rem !important;

        h1 {
            font-size: 5.8rem;
            line-height: 7.2rem;
            letter-spacing: 0.4px;
            font-weight: bold;
        }

        h2 {
            font-size: 2.4rem;
            line-height: 3.2rem;
            letter-spacing: 0.2px;
            font-weight: normal;
        }


        @include respond-below(sm) {
            h1 {
                font-size: 4.6rem;
                line-height: 6.0rem;
            }

            h2 {
                font-size: 2.2rem;
                line-height: 2.6rem;
            }
        }

    }

    h1:first-of-type {
        margin-top: 0;
    }

    &>p {
        font-size: 1.6rem;
    }

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-fluid {
        padding: 0;
    }

    &-dark {
        background-color: $color-gray-60;

        &>p,
        &>h1,
        &>h2,
        &>h3,
        &>h4,
        &>h5,
        &>h6 {
            color: white;
        }
    }
}

.content-wrapper>.section,
.content-wrapper>.content-container>.section {
    padding: 7rem 3rem;

    &.hero {
        padding: 12rem 3rem;

    }
}

.content-wrapper>.content-container>.section {
    margin: 0 -2rem;

    &:first-child {
        margin-top: -2rem;
    }
}


.section.hero>div,
.hero-box {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100%;
}


.hero-box {
    color: var(--text-color);
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 3.5rem;
    margin-top: -10rem;
    // margin-bottom: 10rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
}

@include respond-below(md) {

    .section.hero>div,
    .hero-box {
        width: calc(100% - 6rem);
    }
}

@include respond-above(sm) {

    .section.hero>div,
    .hero-box {
        max-width: 72rem;
    }
}

@include respond-above(md) {

    .section.hero>div,
    .hero-box {
        max-width: 96rem;
    }
}

@include respond-above(lg) {

    .section.hero>div,
    .hero-box {
        max-width: 118rem;
    }
}

// @include respond-above(xl) {

//     .section.hero>div,
//     .hero-box {
//         max-width: 114rem;
//     }
// }