/*
-------------------------------------------------------------------------------
Typography
-------------------------------------------------------------------------------
*/

body {
  font-family: var(--font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lead {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: var(--header-weight);
  font-family: var(--header-font);
  & i.ph, & i.ph-fill, & i.ph-duotone {
    font-size: 1.2em;
    margin-right: 0.5rem;
    vertical-align: text-bottom;
  }
}

.title {
  font-family: var(--header-font);
}

h1 {
  font-size: 3rem;
  line-height: 1.3;
  margin-top: 3rem;
}
h1:first-of-type {
  margin-top: 1rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.35;
}

h3 {
  font-size: 2rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.45;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.5rem;
}

.subtitle {
  margin-top: -1rem;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 300;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

blockquote {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid var(--primary-color);
}


.section-title {
  font-weight: bold;
  font-size: 2.5rem;

  .section-icon {
    height: 22px;
    vertical-align: middle;
  }
}

.icon-rounded {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $gray-color-light;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 3rem;
  margin-right: 1rem;
  color: var(--text-color);
}

i.ph, i.ph-fill, i.ph-duotone {
  // font-size: 1.8rem;
  // display: inline;
  // line-height: 1.8;
  // line-height: inherit;
  line-height: 1;
  font-size: 1.5em;
  vertical-align: -0.2em;
}

h1 i.ph-duotone,
h2 i.ph-duotone,
h3 i.ph-duotone,
h4 i.ph-duotone,
h5 i.ph-duotone,
h6 i.ph-duotone {
  color: var(--primary-color)
}

@each $name in $colors {
  span.#{$name} {
    color: var(--#{$name}-color);
  }
}

.text-osiris {
  color: var(--osiris-color) !important;
}

.text-normal {
  font-family: var(--font-family);
}

.highlight-text {
  background: var(--secondary-color);
  color: white;
  padding: 0 0.5rem;
}

.underline-dashed {
    text-decoration: underline;
    text-decoration-style: dashed;
}